* {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
}

#wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #000000b7;
    display: inline-flex;
    flex-direction: row;
}

#right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
    overflow: hidden;
}

#left {
    display: flex;
    align-items: center;
}

#left img {
    height: 85vh;
    width: 85vh;
}

#title, #author {
    display: inline-block;
    margin: 1px 0;
    white-space: nowrap;
}

#title {
    font-size: 35vh;
    color: #eeeeee;
}

#author {
    font-size: 25vh;
    color: #eeeeee;
}

#time {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background: red;
}